[submodule "CException"]
	path = Submodules/cexception
	url = https://gitlab.dnouglublenie.ru/nonius/embeddedfirmware/embeddedcommon/forks/cexception.git
[submodule "Submodules/doxygen-awesome-css"]
	path = Submodules/doxygen-awesome-css
	url = https://gitlab.dnouglublenie.ru/nonius/embeddedfirmware/embeddedcommon/forks/doxygen-awesome-css.git
