[submodule "doxygen-awesome-css"]
	path = Doxygen/Style/doxygen-awesome-css
	url = ../forks/doxygen-awesome-css.git
[submodule "cexception"]
	path = Submodules/cexception
	url = ../forks/cexception.git
